@model IdentityRole
@{
    ViewData["Title"] = "Update";

}

<h1>Update</h1>
<br />
<br />

<div class="row">
    <div class="col-6">
        <form asp-action="Update" asp-controller="Roles">
            <input hidden asp-for="Id"/>

            <div class="form-group">
                <label asp-for="@Model.Name" class="col-form-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <div class="my-3">
                <a class="btn btn-info" asp-action="AddOrRemoveUsers" asp-controller="Roles" asp-route-RoleId="@Model.Id">Add Or Remove Users</a>
            </div>

            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>
    </div>
</div>

